/* Global
================================================================ */
* {
  box-sizing: border-box;
}

/*Classes */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.backgroundImage {
  text-align: center;
  /*background-image: url(http://res.cloudinary.com/nylon/image/upload/t_featured_images-original,w_600,dpr_1.0,f_auto,fl_lossy,q_80/featured_images/attachments/000/012/829/tumblr_n9n4ctEgJD1rfduvxo1_500.gif);*/
  background-image: url(https://www.google.com/chromecast/static/images/speakers/audio-what-is-chromecast.jpg);
  background-color: #E5E5E5;
  background-position: top; // or center //
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;


}

#formWrapper {
  display: inline-block;
}

.centered-content {
  width: 80%;
  margin: 0 auto;
}

.rightAlign {
  text-align: right;
}


.verticalAlign {
  display: block;
  margin: auto;
  position: relative;
  top: 30%;
  width: 600px;
}

.middleAlign {

  float: left;
  margin: auto;
  position: relative;
  width: 600px;
}

.centerAlign {
  display: block;
  float: left;
  width: 100%;
  margin: auto;
}

.wrapper {
  padding: 0;
}

.scrolledLogo {
  /* Step 1: Add styles for fixed nav */
  position: fixed;
  top: 0;
  left:0;
/*  width: 100%;*/
}

.scrolledForm {
  /* Step 1: Add styles for fixed nav */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;


}
/*Header Info*/


#headerBar {
  background-color: white;
  height: 100px;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  z-index: 1;
  opacity: .97;
}

#learnMore {
  transform: translateY(0px);
}

.badEmail {
  border: 2px solid #F07057 !important;
  background-color: #F07057 !important;
}



header img {
/*  float: left;*/
/*  margin: 40px;*/
/*  margin-left: 150px;*/
  position: fixed;
  left: 150px;
  top: 40px;
  z-index: 2;

}

body{
  font-family: 'Roboto', sans-serif;

}

header h1, h2 {
	float: left;
  width: 100%;
  margin: 5px;
  font-size: 6.3rem;
  font-weight: 100;
}

header input, button {
  display: inline-block;
  z-index: 2;
}



button, input {
margin: 40px 0px;
background-color: transparent; 
border-radius: 5px;
border: 2px solid #189BD9;
color: #189BD9;
padding: 1rem 2rem;
font: bold;

}

button:hover, input:hover {
  background-color: #189BD9;
  border: 2px solid white;
  color: white;
}


header a {

  display: block;
  position: absolute;
  bottom: 10px;
  margin: auto;
  float: left;
  width: 100%;
  

}




/*Section Info */

/*section {
  transition: all 0.5s ease-in-out;
}
*/
section div {
  float: left;
  display: block;
  padding: 50px;
  margin: auto;
	
}

section p {
font-size: 2rem;
font-weight: lighter;
margin-top: 50px;

}
/*section p, h1 {
	float: left;
	width: 40%;
	padding: 50px;
}*/

aside {
  clear: both;
  padding: 50px 225px;
  background-color: #F07057;
  padding-bottom: 200px;
}

aside h2 {
  margin: 70px 0px;

}

aside i, h2 {
  text-align: center;

}

aside i {
    display: none;
}


/*aside: {
  display: block;
  float: right;
  width: 100%;
  margin: auto;
  clear: both;

}*/
.phone {

    width: 75%;
    height: 75%;

}


